{% load static %}

<!doctype html>
<html>
  <head>
    <title>Alke Web Base</title>

    <link rel="stylesheet" href="{% static 'css/estilos.css' %}" />
  </head>

  <body>
    <div class="contenedor">
      <h1>Alke Web Base</h1>

      <p>
        Bienvenido a nuestra primera aplicación web desarrollada con Django.
        Este proyecto demuestra la configuración básica del framework,
        incluyendo vistas, URLs, templates y archivos estáticos.
      </p>

      <button>Explorar proyecto</button>
    </div>
  </body>
</html>
